<template name="userAdmin">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            User Admin{{#if error}}<small>There was an error with your submission. Does this user already exist?</small>{{/if}}
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                	<div class="col-md-6 col-md-offset-2">
                    {{#if isDone}}
                      <h2>Add another user?</h2>
                      <div class="row">
                        <div id="userAdminButtons" class="col-md-offset-1">
                          <button type="button" class="btn btn-default btn-yes" name="Yes">Yes</button>
                          <button type="button" class="btn btn-success btn-no" name="No">No</button>
                        </div>
                      </div>
                    {{else}}
                		<form id="newUser" class="form-horizontal">
                  		<div class="form-group">
                  			<label for="inputUserName" class="col-sm-4 control-label">User Name</label>
                  			<div class="col-sm-8">
                  			  <input type="text" id="inputUserName" class="form-control" placeholder="Lastname Firstname MI" >
                  			</div>
                      </div>
                      <div class="form-group">
                        <label for="organization" class="col-sm-4 control-label" >Organization</label>
                        <div class="col-sm-8">
                          <select id="organizations">
                            {{#each orgs}}
                            <option value={{orgName}}>{{orgName}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="role" class="col-sm-4 control-label">Access Role</label>
                        <div class="col-sm-8">
                          <select id="role">
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputUserEmail" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                          <input type="email" name="inputUserEmail" class="form-control" placeholder="Users will be notified via email upon submission">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputUserPhone" class="col-sm-4 control-label">Commercial Phone</label>
                        <div class="col-sm-8">
                          <input type="tel" name="inputUserPhone" class="form-control" pattern="^[0-9+\(\)#\.\s\/ext-]+$" placeholder="Please No DSN numbers">
                        </div>
                      </div>
                      <div class="form-group  ">
                        <div class="col-sm-offset-4 col-sm-8">
                          <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                      </div>

                		</form>
                    {{/if}}
                	</div>
                </div>
<!-- User table -->
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <table class="table">

                    <tr>

                        <th>Username</th>
                        <th>Organization</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Email Verified</th>
                        <th>Roles</th>
                        <th>Edit User</th>
                        <th>Delete User</th>


                    </tr>
                    {{#each users}}
                    <tbody>
                      <tr>
                        <td>{{profile.userName}}</td>
                        <td>{{profile.organization}}</td>
                        <td> {{profile.userPhone}} </td>
                        <td> {{emails.[0].address}} </td>
                        <td> {{emails.[0].verified}} </td>
                        <td> {{roles.[0]}} </td>
                        <td> <button class="btn btn-default" id="editUser" name="editUser">Edit</button> </td>
                        <td> <button class="btn btn-danger" id="deleteUser" name="deleteUser">Delete</button> </td>
                      </tr>

                    </tbody>
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</template>
