<template name="tracking">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tracking <small> Carrier Info </small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                	<div class="col-lg-12">
                		<div class="jumbotron">
                			some charts here
                		</div>
                	</div>
                </div>

				<div class="row">
					<div class="col-lg-12">
						<div class="jumbotron">
							some graphs here
						</div>
					</div>
				</div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
	
</template>