<template name="landingPage">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="landingPage.css">
			<link rel="stylesheet" href="depotcss.css">
	</head>
	<body>
		    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Depot</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}<li><a href="/depot">Go to Depot</a></li>{{/if}}
						<li><a href="#">{{>loginButtons}}</a></li>
          </ul>
        </div>
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Organize your inventory.<br/>
					Manage a depot.</h1>
						{{> email}}
				</div>
				<div class="col-lg-6">
					<img class="img-responsive" src="img/ipad-hand.png" alt="">
				</div>

			</div>
		</div>
	</div>


	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Your Depot Operations<br/>Simplified.</h1>
				<h3>Keep your customers happy by getting their equipment working again. Fast!</h3>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="/img/ser01.png" width="180" alt="">
				<h4>Web First</h4>
				<p>The responsive design of this web enabled application means that there's nothing to install and it will look great on any screen.</p>
			</div>

			<div class="col-lg-4">
				<img src="/img/ser02.png" width="180" alt="">
				<h4>Smart Email Alerts</h4>
				<p>Custom notification settings provide insight into your operations. Find and fix small problems before they become serious issues.</p>

			</div>

			<div class="col-lg-4">
				<img src="/img/ser03.png" width="180" alt="">
				<h4>Run Reports</h4>
				<p>In order to see performance you have to measure. Generate reports to see metrics like Turn Around Time.</p>

			</div>
		</div>
	</div>


	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>One Man Army<br/>Won't Turn Away Good Help</h1>
				<h3>If you're interested in this project and are comfortable with javascript get in touch and we'll make something awesome.</h3>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-4">
			<!-- 	<img class="img-circle" src="/img/pic1.jpg" width="140" alt="">
				<h4>Michael Robson</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p> -->
			</div>

			<div class="col-lg-4">
				<img class="img-circle" src="/img/dylan.jpg" width="140" alt="">
				<h4>Dylan Zitzmann</h4>
				<p>Aspiring Developer.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
<!-- 				<img class="img-circle" src="/img/pic3.jpg" width="140" alt="">
				<h4>Angelica Finning</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p> -->
			</div>
		</div>
	</div>

	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				{{> email}}
			</div>
			<div class="col-lg-3"></div>
		</div>
		<hr>
		<p class="centered">Graphics and Design by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div>
	</body>
</template>
